<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %> <%- include("../partials/letras.ejs")
    %>
    <title>Editar Producto</title>
    <link rel="stylesheet" href="/css/estilo-editproduct.css" />
  </head>
  <body>
    <%- include("../partials/header.ejs") %>
    <h1>EDITAR PRODUCTOS</h1>
    <form
      action="/products/order/<%= productEdit.id  %>?_method=PUT"
      method="POST"
      class="formulario"
    >
      <ul class="erroresFront"></ul>
      <div class="editar-producto">
        <div class="campo">
          <label for="name">Nombre:</label>
          <input
            class="campo-completar"
            type="text"
            name="name"
            id="name"
            value="<%= locals.old && old.name? locals.old.name : productEdit.name%>"
          />
        </div>
        <% if (locals.errors && errors.name && errors.name.msg) { %>
        <p class="feedback"><%= errors.name.msg %></p>
        <% } %>
        <div class="campo">
          <label>Categoría:</label>
          <select class="campo-completar" name="category">
            <option value="1">Hamburguesas</option>
            <option value="3">Tapas</option>
            <option value="2">Bebidas</option>
            <option value="4">Combos</option>
          </select>
        </div>
        <div class="campo">
          <label for="description">Descripción:</label>
          <textarea class="campo-completar" name="description" id="description">
            <%= locals.old && old.description? locals.old.description : productEdit.description%>
            </textarea
          >
        </div>
        <% if (locals.errors && errors.description && errors.description.msg) {
        %>
        <p class="feedback"><%= errors.description.msg %></p>
        <% } %>
        <div class="campo">
          <label for="price">Precio:</label>
          <input
            class="campo-completar"
            type="text"
            name="price"
            id="price"
            value="<%= locals.old && old.price? locals.old.price : productEdit.price%>"
          />
        </div>
        <% if (locals.errors && errors.price && errors.price.msg) { %>
        <p class="feedback"><%= errors.price.msg %></p>
        <% } %>
        <div class="campo">
          <label>Actualizar foto:</label>
          <input type="file" name="foto-producto" accept="image/*" />
        </div>
        <% if (locals.errors && errors.image && errors.image.msg) { %>
        <p class="feedback"><%= errors.image.msg %></p>
        <% } %>
        <div class="button-container">
          <div>
            <button class="button" type="submit">ACTUALIZAR PRODUCTO</button>
          </div>
        </div>
      </div>
    </form>
    <form
      action="/products/order/<%= productEdit.id  %>?_method=delete"
      method="post"
    >
      <button class="button" type="submit">ELIMINAR PRODUCTO</button>
    </form>

    <%- include("../partials/footer.ejs") %>
    <!-- <script src="/js/editproduct.js"></script> -->
  </body>
</html>
