<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/estilo-producto.css" />
    <%- include("../partials/letras.ejs") %>
    <title>Producto</title>
  </head>
  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <form action="/cart/:id?_method=PUT" name="cartAdding" method="POST">
        <h1><%=product.name%></h1>
        <div class="producto">
          <div class="foto-precio">
            <img
              class="foto"
              src="../../<%=product.image%>"
              alt="Foto producto elegido"
            />
            <h3 class="precio">$ <%=product.price%></h3>
          </div>
          <div class="info-producto">
            <div class="descripcion-producto"><%=product.description%></div>
            <div class="contenedor-unidades">
              <h3>Unidades</h3>
              <div class="selector-unidades">
                <div class="boton-mas-menos menosItems">
                  <i class="fa-solid fa-minus"></i>
                </div>
                <div class="visor-unidades">
                  <input
                    type="number"
                    name="quantity"
                    value="1"
                    for="cartAdding"
                  />
                </div>
                <div class="boton-mas-menos masItems">
                  <i class="fa-solid fa-plus"></i>
                </div>
              </div>
            </div>
            <div class="contenedor-extras">
              <h3>Ingredientes Extras</h3>
              <div class="selector-extras">
                <p>Papas fritas monkey</p>
                <input
                  type="checkbox"
                  name="extras-1"
                  value="Papas fritas monkey"
                  for="cartAdding"
                />
                <p>Bastones de muzzarella</p>
                <input
                  type="checkbox"
                  name="extras-2"
                  value="Bastones de muzzarella"
                  for="cartAdding"
                />
                <p>Salsa especial</p>
                <input
                  type="checkbox"
                  name="extras-3"
                  value="Salsa especial"
                  for="cartAdding"
                />
              </div>
            </div>
            <div class="contenedor-notas">
              <h3>Notas del pedido</h3>
              <div class="selector-notas">
                <input
                  type="textarea"
                  name="notes"
                  placeholder="Agregar"
                  for="cartAdding"
                />
              </div>
            </div>
            <input
              type="hidden"
              name="product"
              value="<%=product%>"
              for="cartAdding"
            />

            <button type="submit" class="boton-agregar-al-carrito">
              AGREGAR AL CARRITO
            </button>
          </div>
        </div>
        <!--Botones de acción mas y menos-->
        <script>
          let itemsContent = document.querySelector(".selector-unidades");
          itemsContent.addEventListener("click", (e) => {
            let items = document.querySelector(".visor-unidades input");
            let value = parseInt(items.attributes.value.textContent);
            let plus = document.querySelector(".masItems i");
            let minus = document.querySelector(".menosItems i");
            let tgt = e.target;
            if (value != 0) {
              if (tgt == plus) {
                items.attributes.value.textContent = value + 1;
              } else if (tgt == minus) {
                items.attributes.value.textContent = value - 1;
              } else {
                console.log("click out of action buttons");
              }
            } else {
              if (tgt == plus) {
                items.attributes.value.textContent = value + 1;
                console.log(items.textContent);
              }
            }
          });
        </script>
      </form>
    </main>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
