<!DOCTYPE html>
<html lang="en">
  <head>
<%- include("../partials/head.ejs") %> >
    <link rel="stylesheet" href="/css/estilo-nosotros.css" />
    <title>Nosotros</title>
  </head>
  <body>
<%- include("../partials/header.ejs") %> 
      <main>
      <h1>NOSOTROS</h1>
      <div class="nuestra-historia">
        <h2>NUESTRA HISTORIA</h2>
        <div class="historia">
          <div class="texto-historia">
            Monkey Burger tiene sus orígenes allá por el 2010, cuando Pedro y
            Pablo, dos amigos de Piedradura, quisieron cocinar hamburguesas para
            sorprender a sus queridísimas Vilma y Betty. Como estaban con tiempo
            de sobra, decidieron comprar la carne y hacer ellos mismos sus
            propias hamburguesas. Obviamente, ya estaban cansados de los
            sándwiches de pterodáctilo industrial que comían habitualmente. Fue
            así como comenzaron a experimentar con diferentes ingredientes y no
            sólo dejaron contentas a Vilma y Betty, sino que además comenzaron
            con una tradición a la que se fueron sumando más y más amigos. Muy
            pronto, se fue corriendo la voz y todos en Piedradura querían esas
            hamburguesas.
          </div>
          <img
            class="foto-historia"
            src="/img/varias/varias18.JPG"
            alt="foto de Amigos Monkey Burger"
          />
        </div>
      </div>
      <div class="nuestros-objetivos">
        <h2>NUESTROS OBJETIVOS</h2>
        <div class="mision-vision">
          <div class="mision">
            <h3>NUESTRA MISIÓN</h3>
            <div class="texto-mision-vision">
              Queremos ser la cadena de hamburgueserías número 1 en Capital
              Federal, ofreciendo siempre el mejor sabor, la mejor calidad y una
              experiencia única para todos aquellos que eligen Monkey Burger.
            </div>
          </div>
          <div class="vision">
            <h3>NUESTRA VISIÓN</h3>
            <div class="texto-mision-vision">
              Una vez que nuestros clientes prueban nuestras hamburguesas, ya no
              ha vuelta atrás. Por esto, trabajamos día y noche para llevar esta
              revolución de sabor a todos los rincones de nuestro país.
            </div>
          </div>
        </div>
      </div>
      <div class="nuestras-sucursales">
        <h2>NUESTRAS SUCURSALES</h2>
        <div class="texto-nuestras-sucursales">
          Estás en Capital Federal? Vení a visitarnos! Estos son los datos de
          nuestros locales para que enloquezcas con nuestras hamburguesas:
        </div>
        <div class="lista-sucursales">
          <% markets.forEach(market => { %>
            <div class="sucursal">
            <h3><%=market.name%></h3>
            <div class="texto-suc"><%=market.address%></div>
            <div class="texto-suc">Tel. <%=market.phone%></div>
            <div class="texto-suc"><%=market.schedule%>.</div>
          </div>
          <% }) %>
        </div>
      </div>
    </main>
    <%- include("../partials/footer.ejs") %> 
  </body>
</html>
