<!DOCTYPE html>
<html lang="en">
  <!--Cabecera de la página principal e inicio-->
  <head>
   <%- include("../partials/head.ejs") %>
    <link rel="stylesheet" href="/css/style.css" />
    <title>Bienvenidos a Monkey Burger</title>
    <link rel="icon" href="/img/icono-blanco.png" />
  </head>
  <!--Cuerpo del archivo html correspondiente al inicio del e-commerce-->
  <body>
    <!--Encabezado de la página web.
    En este espacio deberá colocarse: 
    - El logo de la empresa.
    - Nombre de la empresa.
    - Menú de navegación.
    - Sección para el carrito y Login.-->
    <%- include("../partials/header.ejs") %>
    <!--Principal de cuerpo de la página web.
    En este espacio deberá colocarse:
    - Carrete de promociones.
    - Mosaicos con productos destacados.
    - Mosaicos con actividades varias de la empresa.
    - Novedades.-->
    <main>
      <!--Carrete de promociones-->
      <section class="carrete">
        <!--Serán mostradas sólo 5 promociones-->
        <div class="imagenes-carrete">
          <img src="/img/producto/combomonkey2.jpg" alt="carrete" />
          <div class="izquierda"><i class="fa-solid fa-caret-left"></i></div>
          <div class="derecha"><i class="fa-solid fa-caret-right"></i></div>
        </div>
        <script src="/js/carousel.js"></script>
        <!--Inicio implementación Bootstrap-->

        <!--Fin implementación Bootstrap-->
        <!--Botones de acción-->
        <div class="botones-carrete">
          <div class="pedi">
            <h4><a href="cart">PEDÍ AHORA</a></h4>
          </div>
        </div>
        <!--posición en el carrete-->
        <div class="posicion">
          <div class="bolas"><i class="fa-solid fa-circle"></i></div>
          <div class="bolas"><i class="fa-solid fa-circle"></i></div>
          <div class="bolas"><i class="fa-solid fa-circle"></i></div>
          <div class="bolas"><i class="fa-solid fa-circle"></i></div>
          <div class="bolas"><i class="fa-solid fa-circle"></i></div>
        </div>
      </section>

      <!--Mosaicos de destacados y novedades-->
      <section class="novedades">
        <h2>NUESTRAS NOVEDADES</h2>
        <!--Destacados-->
        <% proms.forEach(prom => { %>
        <article class="destacados">
          <div class="foto">
            <img src="<%=prom.image%>" alt="destacados" />
          </div>
          <div class="texto">
            <h4><%=prom.title%></h4>
            <p><%=prom.detail%></p>
          </div>
        </article>
        <% }) %>
        <!--Novedades-->
        <% news.forEach(notice => { %>
        <article class="noticias">
          <div class="foto">
            <img src="<%=notice.image%>" alt="novedades" />
          </div>
          <div class="texto">
            <h4><%=notice.title%></h4>
            <p><%=notice.detail%></p>
          </div>
        </article>
        <% }) %>
      </section>
    </main>
    <!--Pie de página de la web.
    En este espacio deberá colocarse:
    - Enlace a redes sociales.
    - Enlaces de interés.
    - Contacto.
    - Referencia a desarrolladores.-->
    <%- include("../partials/footer.ejs") %> 
  </body>
</html>
